* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  /* font-size: 16px;  */
  scroll-behavior: smooth;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vw;
  width: 100%;
  padding: 0px;
  background: linear-gradient(to right, red, white, red);
}
 h2{
  display: flex;
  justify-content: center;
  font-size: 6vw;
  color: blue;
}

ul {
  list-style-type: none;
}
.lang a {
  text-decoration: none;
}
.lang li {font-size: 2vw;
  text-decoration: none;
}

.fa-dolly {
  font-size: 5vw;
  color: cyan;
}
.page-alt {
  display: flex;
  justify-content: space-between;
  align-items: center;
width: 100%;
  padding: 0 5vw;
  height: 10vw;
  border-top: 2px solid yellow;
  background: linear-gradient(to right, white, lightgreen, white);
}
.btn {
  background-color: yellow;
  font-size: 3vw;
  border: 2px solid green;
  border-radius: 1vw;
  box-shadow:1vw 1vw 1vw;
}

.btn a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.container {
  max-width: 1200px;
  margin: 30px auto;
}
.desc {
  background-image: url(bg2.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 4vw; color: gold; text-shadow: 2px 2px 2px black;
  font-style: oblique;
  padding-top: 1vw;
  border-top: 3px solid white;
}

.p2 {display: flex;}

.end {
    font-size: 3vw; color: blueviolet;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vw;
  padding-bottom: 5vw;
  padding-top: 5vw;
  background: linear-gradient(to right, white, red, white);
  border-top: 3px solid white;
}
.end a{
  text-decoration: none; color: darkgray;
  text-shadow: 2px 2px 2px black;
}




